In [1]:
# Import Pandas and Numpy Libraries.
# Numpy stands for "number python".
# Numpy is the library that performs special numeric operations.
import pandas as pd
import numpy as np

# Create a dictionary, which contains a list (of strings) associated with each key
data1 = {'Salesrep':['Sam','Sam','Wendy','Wendy','Dan'],'Weekday':['Monday','Tuesday','Monday','Tuesday','Monday'],'Salesmade':[200,100,300,200,400]}
data1

{'Salesrep': ['Sam', 'Sam', 'Wendy', 'Wendy', 'Dan'],
 'Weekday': ['Monday', 'Tuesday', 'Monday', 'Tuesday', 'Monday'],
 'Salesmade': [200, 100, 300, 200, 400]}

In [2]:
# Create a DataFrame directly from a dictionary structure.
# A DataFrame is a 2-D structure where each column in the DataFrame is a Series.
df = pd.DataFrame(data1)
df

  Salesrep  Weekday  Salesmade
0      Sam   Monday        200
1      Sam  Tuesday        100
2    Wendy   Monday        300
3    Wendy  Tuesday        200
4      Dan   Monday        400

In [4]:
# Create a data structure where rows are grouped by 'Salesrep'.
# Therefore, when we perform statistical queries, they will be performed for each group,
# i.e. for each Salesrep.
repgrp = df.groupby('Salesrep')

In [5]:
# Display the average of all numeric variables for each group.
# i.e. Display average 'Salesmade' for each 'Salesrep'.
repgrp.mean()

          Salesmade
Salesrep
Dan           400.0
Sam           150.0
Wendy         250.0

In [6]:
# Display total 'Salesmade' for each 'Salesrep'
repgrp.sum()

          Salesmade
Salesrep
Dan             400
Sam             300
Wendy           500

In [7]:
# Display standard deviation of 'Salesmade' for each 'Salesrep'
repgrp.std()

          Salesmade
Salesrep
Dan             NaN
Sam       70.710678
Wendy     70.710678

In [39]:
# Display average 'Salesmade' for each 'Salesrep'.
# This is a little different to the above example.
df.groupby(['Salesrep'])['Salesmade'].mean()

Salesrep
Dan      400.0
Sam      150.0
Wendy    250.0
Name: Salesmade, dtype: float64

In [11]:
# Display average 'Salesmade' for each 'Salesrep', but only show the first row (Salesrep)
df.groupby('Salesrep').mean().iloc[0]

Salesmade    400.0
Name: Dan, dtype: float64

In [12]:
# Count all variable values for each variable, for each 'Salesrep'
df.groupby('Salesrep').count()

          Weekday  Salesmade
Salesrep
Dan             1          1
Sam             2          2
Wendy           2          2

In [13]:
# Display total 'Salesmade' for each 'Salesrep'.
# This is another way to do it.
df.groupby('Salesrep')['Salesmade'].sum()

Salesrep
Dan      400
Sam      300
Wendy    500
Name: Salesmade, dtype: int64

## Self Practice Exercises

1) Which day has a greater average salesmade?

In [20]:
df.groupby('Weekday')['Salesmade'].mean()

Weekday
Monday     300.0
Tuesday    150.0
Name: Salesmade, dtype: float64

Weekday
Monday     300
Tuesday    150
Name: Salesmade, dtype: int64

2) What's the maximum salesmade for each day?

In [21]:
df.groupby('Weekday')['Salesmade'].max()

Weekday
Monday     400
Tuesday    200
Name: Salesmade, dtype: int64

Weekday
Monday     400
Tuesday    200
Name: Salesmade, dtype: int64

3) Display the output which performs the groupby using Weekday and Salesrep as below.The numeric column shows the average salesmade

In [5]:
print(type(df.groupby(['Weekday', 'Salesrep'])['Salesmade'].sum()))

<class 'pandas.core.series.Series'>

In [13]:
df.groupby(['Salesrep', 'Weekday'])['Salesmade'].sum()
# df.groupby(['Weekday', 'Salesrep'])['Salesmade'].sum()

Salesrep  Weekday
Dan       Monday     400
Sam       Monday     200
          Tuesday    100
Wendy     Monday     300
          Tuesday    200
Name: Salesmade, dtype: int64

In [6]:
print(type(df.groupby(['Weekday', 'Salesrep']).mean()))

<class 'pandas.core.frame.DataFrame'>

Weekday  Salesrep
Monday   Dan         400
         Sam         200
         Wendy       300
Tuesday  Sam         100
         Wendy       200
Name: Salesmade, dtype: int64